{% extends "layout/master.html" %}

{%block title %}
Home Page
{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/home-bg.jpg'); margin-top: -83px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Read Your Stories</h1>
                    <span class="subheading">Make your own stories just by a click</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-6">
    <div class="row gx-4 gx-lg-6 justify-content-center">
        <div class="col-md-10 col-lg-10 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">Story of John and his friend Mike about a small Cat</h2>
                    <h4 class="post-subtitle">
                        Once upon a time, John and Mike were two best friends who lived in a small town. One day, they decided to go for a walk in the park...
                    </h4>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Read Your Story</a>
                    on August 30, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Post preview-->
            <div class="post-preview">
                <a href="#">
                    <h2 class="post-title">John and Mike Childhood story</h2>
                    <h4 class="post-subtitle">
                        They had known each other since they were young and had many fond memories of their childhood together...
                    </h4>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Read Your Story</a>
                    on August 20, 2023
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="search_story">Create Your Own Stories →</a></div>
        </div>
    </div>
</div>
{% endblock %}